<a href="https://colab.research.google.com/github/seojeong17/bioinfomatics/blob/main/01_%ED%8C%8C%EC%9D%B4%EC%8D%AC_1%EC%9D%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 자료형

In [6]:
# 데이터 형태를 확인해 주는 함수 : type()
# 화면에 출력해주는 함수 : print()
print( type(100))
print( type(100.0))
print( type('파이썬'))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
# 변수에 값을 지정해서 사용한다.
a = 100
b = 50
c = '파이썬'
print(a+b)
print(c)

150
파이썬

In [9]:
# 변수명은 첫 글자 숫자 지정 불가/ 언더바_ 기호만 사용가능/ 공백문자 불가
사과 = '수박'
print(사과)

수박

In [10]:
a = 3.14
b = 314
print(int(a))
print(float(b))

3
314.0

In [13]:
x =100
y = 3
print(x//y)
print(x%y)
print(x**y)

33
1
1000000

In [ ]:
# 여러개의 따옴표를 사용하면 다량의 문자열을 출력가능

### 문자열형

In [14]:
# + : 문자열을 붙여서 표현한다.
print('오늘은' + '파이썬 첫째날!')
print('오늘은' , '파이썬 첫째날!')

오늘은파이썬 첫째날!
오늘은 파이썬 첫째날!

In [16]:
# * : 문자열을 반복한다.
print('반짝' *5)
print('-' *50)

반짝반짝반짝반짝반짝
--------------------------------------------------

### Bool타입

In [20]:
# true 는 1, false는 0

# a = True
# b = False
# print(a, b)

a = 100
b = 200
print ( type(a>b))

<class 'bool'>

## 파이썬 기본 입출력

In [24]:
# 파이썬으로 사칙연산 하기 프로그램
a = input('키보드로 입력하세요:')
a = int(a)                  # 정수로 만들기
print('a의 값은 : ', a, type(a))

키보드로 입력하세요:100
a의 값은 :  100 <class 'int'>

In [26]:
a = int(input('키보드로 입력하세요:'))
print('a의 값은 : ', a, type(a))

키보드로 입력하세요:100
a의 값은 :  100 <class 'int'>

In [28]:
num1 = int(input('첫 번째 숫자:'))
num2 = int(input('두 번째 숫자:'))
print('-'*30)
print('덧셈: %d + %d = %d' % (num1, num2, num1+num2))
print('뺄셈: %d - %d = %d' % (num1, num2, num1-num2))
print('곱셈: %d * %d = %d' % (num1, num2, num1*num2))
print('나눗셈: %d / %d = %d' % (num1, num2, num1/num2))

첫 번째 숫자:200
두 번째 숫자:30
------------------------------
덧셈: 200 + 30 = 230
뺄셈: 200 - 30 = 170
곱셈: 200 * 30 = 6000
나눗셈: 200 / 30 = 6

In [32]:
num1 = int(input('첫 번째 숫자:'))
num2 = int(input('두 번째 숫자:'))
print('-'*30)
print(f'덧셈: {num1} + {num2:>3} = {num1+num2}' )
print(f'뺄셈: {num1} - {num2:0>3} = {num1-num2}' )
print(f'곱셈: {num1} * {num2} = {num1*num2}' )
print(f'나눗셈: {num1} / {num2} = {num1/num2}' )

첫 번째 숫자:200
두 번째 숫자:30
------------------------------
덧셈: 200 +  30 = 230
뺄셈: 200 - 030 = 170
곱셈: 200 * 30 = 6000
나눗셈: 200 / 30 = 6.666666666666667

In [42]:

num1 = float(input('속도를 입력해 주세요 :'))
d = float(input('거리를 입력해 주세요 :'))
print('속도=',num1)
print('거리=',d)
print(f'시간=  {d}/ {num1}= {d/num1}')

속도를 입력해 주세요 :200
거리를 입력해 주세요 :50
속도= 200.0
거리= 50.0
시간=  50.0/ 200.0= 0.25

In [50]:
a=input('정수를 입력하세요 :')
n=int(a)
nn=int(a+a)
nnn=int(a+a+a)

print(f'{n}+{nn}+{nnn}={n+nn+nnn}')

정수를 입력하세요 :7
7+77+777=861

In [54]:
# eval() : 문자열을 숫자처럼 계산해준다.

# eval ('3+4')

a= input('정수를 입력하세요')
result = f'{a}+{a+a}+{a+a+a}'

print(f' {a}+{a+a}+{a+a+a}={eval(result)}')

정수를 입력하세요7
 7+77+777=861