<a href="https://colab.research.google.com/github/seojeong17/bioinfomatics/blob/main/______Pandas____1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   **판다스란?**

2.   **Pandas import**

3.   **Series vs DataFrame**

4.   **Series 요약**

5.   **DataFrame 생성**

6.   **DataFrame 데이터 확인**

7.   **DataFrame 데이터 정렬**

8.   **DataFrame 데이터 선택**

9.   **DataFrame 데이터 생성**

10.  **DataFrame 데이터 변경**

11.  **DataFrame 데이터 결합**

ㅤ



---

## **1. 판다스란?**

**행(Row) X 열(Column)**로 구성된 **2차원 데이터 객체**를 다루는 데이터 분석 라이브러리로, 대용량의 데이터들을 처리하는데 매우 편리한 도구입니다.

ㅤ

**[Numpy와 차이점?]**

Pandas는 Numpy를 기반으로 작성되지만 훨씬 더 **유연하고 편리하게 데이터 핸들링**이 가능합니다.

또한 저수준 API를 제공하는 Numpy와 달리 **고수준 API** 제공하는 라이브러리입니다.

> API : Application Programming Interface의 약자로, **응용 프로그램 프로그래밍 인터페이스**이다. 컴퓨터나 컴퓨터 프로그램 사이의 연결이며, 일종의 소프트웨어 인터페이스이다. 다른 종류의 소프트웨어에 서비스를 제공한다.

ㅤ

## **2. Pandas import**



*   Pandas를 사용하기 위해서는 **모듈을 import** 해야 합니다.

*   주로 간결성을 위해 **pd**라는 축약된 이름으로 사용하는 것이 관례입니다.

*   Pandas와 Numpy는 같이 쓰이는 경우가 많기 때문에 주로 같이 import 합니다.

In [ ]:
import numpy as np
import pandas as pd

ㅤ

## **3. Series vs Dataframe**




*   Series : **1차원 배열의 형태**를 가지며 **인덱스**(index. 값이 위치하고 있는 정보)라는 한 가지 기준(행)에 의해 데이터가 저장됩니다.
</br> </br>

*   Dataframe : **2차원 배열의 형태**를 가지며 **인덱스와 칼럼**이라는 두 가지 기준(행X열)에 의해 표 형태처럼 데이터가 저장됩니다.

ㅤ

## **4. Series 요약**


### **1) Series 정의하기**

*   변수명 = pd.Series([값])

In [ ]:
#Series 정의하기
sr = pd.Series([1,3,-3,-1,5])
sr

0    1
1    3
2   -3
3   -1
4    5
dtype: int64

ㅤ



### **2) Series에 있는 자료 확인하기**

*   값 확인 : 변수명.values

*   인덱스 확인 : 변수명.index

*   자료형 확인 : 변수명.dtypes

ㅤ

In [ ]:
sr.values
sr.index
sr.dtypes

dtype('int64')

### **3) 인덱스 변경하기**

인덱스의 이름을 원하는 숫자나 문자로 변경할 수 있습니다.
</br></br>

*   첫 번째 방법 : pd.Series([값], index=[인덱스명])

    Series를 인덱스명을 따로 지정하여 다시 정의를 내립니다.
    </br> </br>

*   두 번째 방법 : 변수명.index = [인덱스명]
    
    직접적으로 변수의 인덱스를 지정합니다.

In [ ]:
sr = pd.Series([1,3,-3,-1,5], index=['a','b','c','d','e'])
sr

a    1
b    3
c   -3
d   -1
e    5
dtype: int64

In [ ]:
sr.index = ['f','g','h','i','j']
sr

f    1
g    3
h   -3
i   -1
j    5
dtype: int64

ㅤ

### **4) Series 인덱스를 대표하는 이름을 따로 설정하기**

*   변수명.index.names = “인덱스 이름”

In [ ]:
sr.index.name = 'i_names'
sr

i_names
f    1
g    3
h   -3
i   -1
j    5
dtype: int64

i_name이 인덱스 전체를 대표하는 이름으로 맨 위에 작성되어 출력됩니다.

ㅤ

### **5) Dictionary 자료형을 Series로 변경하기**

*    dictionary 자료형을 값으로 갖는 변수를 지정한 후, 그 변수를 이용하여 Series를 정의합니다.

*   이때, dictionary의 key 부분이 Series의 index에 할당됩니다.
</br> </br>

* 변수명 = {dictionary 값}

  pd.Series(변수명)

ㅤ

In [ ]:
dic = {'d':22, 'a':23,'y':24, 'th':25, 'on':26}
sr2 = pd.Series(dic)
sr2

d     22
a     23
y     24
th    25
on    26
dtype: int64

ㅤ

## **5. DataFrame 생성**


### **1) DataFrame 직접 생성하기**

pd.DataFrame 클래스 생성자를 이용하여 생성하는 방법입니다.
</br> </br>

**[numpy array 이용]**

 1.   먼저 리스트를 생성합니다
 2.   np.array()로 미리 생성한 리스트를 nparray로 바꿉니다.
 3.   pd.DataFrame 클래스 생성자를 이용하여 Dataframe을 직접 생성합니다.

      - 변수명 = pd.DataFrame(nparray, index, columns)
      </br> </br>

**[Dictionary 이용]**

 1.   첫 번째 변수에 Dictionary 자료형을 갖는 데이터를 입력합니다.

      - 변수명1 = dictionary 데이터 생성

 2.   pd.DataFrame 클래스 생성자를 이용하여 Dataframe을 직접 생성합니다.

      - 변수명2 = pd.DataFrame(변수명1)

In [ ]:
list1 = [[1,2,3],[11,12,13]]
arr = np.array(list1)
df = pd.DataFrame(arr, index=['a','b'], columns=list('ABC'))

In [ ]:
df

    A   B   C
a   1   2   3
b  11  12  13

ㅤ

In [ ]:
dic = {'a':[1,11], 'b':[2,22], 'c':[3,33]}
df_dic = pd.DataFrame(dic)
df_dic

    a   b   c
0   1   2   3
1  11  22  33

딕셔너리 자료형을 이용하여 데이터프레임을 생성할 때는 칼럼명만 명시할 수 있고 인덱스명은 따로 명시하지 못합니다.

ㅤ

### **2) 파일을 불러 Dataframe 생성하기**

*   **pd.read_csv()** API를 사용하여 csv 외 필드 구분 문자 기반의 파일 포맷도 DataFrame으로 변환합니다. 디폴트 필드 구분 문자는 ‘,’ (콤마)입니다.
    </br> </br>
                                
   
*  **pd.read_csv(파일경로/파일명, sep=‘ 필드 구분 문자 ’)**
</br> </br>

> 필드 구분 문자 : ‘,’ (콤마), ‘\t’ (탭)

ㅤ

In [ ]:
# 코랩 사용시
from google.colab import drive  # 구글 드라이브에 파일 생성
drive.mount('/content/drive')

Mounted at /content/drive

코랩을 사용할 경우 위 코드를 사용하여 구글 드라이브에 파일을 생성 후 그 파일에 데이터 파일을 넣습니다.

https://kosis.kr/statHtml/statHtml.do?orgId=112&tblId=TX_11202_A001&vw_cd=MT_ZTITLE&list_id=F_57&scrId=&seqNo=&lang_mode=ko&obj_var_id=&itm_id=&conn_path=MT_ZTITLE&path=%252FstatisticsList%252FstatisticsListIndex.do

주제별 통계 > 보건 > 학생건강검사 > 시도별 학생표본 키 검사

행렬전환 >  시점, 성별,시도별을 행으로, 연령별, 학교별을 열로 변환
조회설정 > 지역: 서울만 선택, 시점 : 2015-2021년, 성별: 남자 혹은 여자 선택
파일 다운로드 csv 형태, 파일 열어서 첫 줄 삭제


- 맥은 utf-8 방식을 쓰고 윈도우는 cp949 방식 사용
- 한글 인코딩: Microsoft사에서 만든 cp949/ms949 인코딩, euc-kr인코딩, utf-8 인코딩 등등
-- 해결책 (1) - engine='python'
-- 해결책 (2) - encoding='utf-8'
-- 해결책 (3) - encoding='cp949'  # 한글이 깨지거나 읽을 때 오류가 발생한다면
-- 해결책 (4) - Excel에서 인코딩 옵션 변경 (다른 이름으로 저장에서 - CSV UTF-8 (쉼표로 분리) 로 변경하여 저장)

ㅤ

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/data/student.csv", encoding='cp949')
df

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7

파일을 불러오는 pd.read_csv를 사용할 때, 파일 경로 붙여넣고 그 뒤에 자신이 설정한 파일명과 데이터 파일 이름을 기입합니다.

ㅤ

## **6. Dataframe 데이터 확인**

### **1) 데이터 출력하기**

* .info() : 데이터의 정보 보기

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      6 non-null      int64
 1   6세      6 non-null      float64
 2   7세      6 non-null      float64
 3   8세      6 non-null      float64
 4   9세      6 non-null      float64
 5   10세     6 non-null      float64
 6   11세     6 non-null      float64
 7   12세     6 non-null      float64
 8   13세     6 non-null      float64
 9   14세     6 non-null      float64
 10  15세     6 non-null      float64
 11  16세     6 non-null      float64
 12  17세     6 non-null      float64
dtypes: float64(12), int64(1)
memory usage: 752.0 bytes

* 메모리를 많이 차지하는 데이터는 OOM 에러 발생

In [ ]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      6 non-null      int64
 1   6세      6 non-null      float64
 2   7세      6 non-null      float64
 3   8세      6 non-null      float64
 4   9세      6 non-null      float64
 5   10세     6 non-null      float64
 6   11세     6 non-null      float64
 7   12세     6 non-null      float64
 8   13세     6 non-null      float64
 9   14세     6 non-null      float64
 10  15세     6 non-null      float64
 11  16세     6 non-null      float64
 12  17세     6 non-null      float64
dtypes: float64(12), int64(1)
memory usage: 752.0 bytes

*   .head() : 상위 5개의 자료를 출력하는 메소드이다. 직접 입력한 값만큼 데이터를 출력합니다.

*   .tail() : 하위 5개의 자료를 출력하는 메소드이다. 직접 입력한 값만큼 데이터를 출력합니다.

In [ ]:
df.head()

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4

In [ ]:
df.tail()

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7

In [ ]:
df.head(8)

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7

In [ ]:
df.sample()

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2

ㅤ

### **2) 행과 열만 출력하기**




*   .index : 인덱스를 출력합니다. (행)

*   .columns : 칼럼을 출력합니다. (열)

In [ ]:
df.index
df.columns

Index(['시점', '6세', '7세', '8세', '9세', '10세', '11세', '12세', '13세', '14세', '15세',
       '16세', '17세'],
      dtype='object')

인덱스와 칼럼 값이 무엇인지 한번에 확인할 때 유용한 속성입니다.

ㅤ

### **3) 데이터 값 출력하기**




*   .values : 자료의 데이터 값을 모두 출력합니다.

In [ ]:
df.values

array([[2015. ,  121.3,  128. ,  133.6,  139.6,  144.7,  151.8,  160.3,
         165.7,  170.5,  172.7,  172.7,  173.7],
       [2016. ,  121.5,  128.3,  133.9,  139.1,  145.1,  152. ,  160.3,
         166.4,  170.4,  172.7,  135.5,  174.1],
       [2017. ,  122.1,  128.1,  134.2,  139.7,  145.3,  152.5,  160.7,
         166.2,  170.6,  172.9,  173.2,  173.9],
       [2018. ,  122.1,  128. ,  133.9,  139.8,  145.1,  151.9,  161.3,
         166.7,  171.2,  172.9,  173.4,  174.2],
       [2019. ,  122. ,  128.6,  134.6,  139.9,  145.1,  151.9,  160.7,
         167.8,  170.6,  173.3,  173.8,  174.4],
       [2021. ,  124.1,  129.5,  135.3,  141.4,  147.9,  153.9,  162.3,
         167.6,  171.4,  173.3,  174. ,  173.7]])

array 형태로 모든 데이터 값이 출력됩니다.

ㅤ

### **4) 데이터 특징 확인하기**

*   [‘칼럼명’].unique() : 해당 칼럼에 할당된 데이터의 고유한 값의 종류 파악할 수 있는 메소드입니다.

*   [‘칼럼명’].nunique() : 해당 데이터의 고유한 값의 수 파악할 수 있는 메소드입니다.
</br></br>

*   .value_counts() :특정 칼럼값의 유형과 데이터값의 건수를 반환하는 메소드입니다. 데이터 분포도를 확인하는데 유용합니다.
  - 변수명['칼럼명'].value_counts() : 칼럼명에 확인하고자 하는 칼럼명을 기입한 후 출력합니다.
</br></br>

*   .describe() : 칼럼 별로 통계 정보 출력하는 메소드입니다.

    - 출력 가능한 통계 자료 : count(개수), mean(평균), std(표준편차), min(최솟값), 4분위수(25%, 50%, 75%), max(최댓값)

In [ ]:
df['6세'].unique()

array([121.3, 121.5, 122.1, 122. , 124.1])

In [ ]:
df['6세'].nunique()

5

In [ ]:
value_count = df['6세'].value_counts()
print(value_count)

122.1    2
121.3    1
121.5    1
122.0    1
124.1    1
Name: 6세, dtype: int64

In [ ]:
df.describe(include='all')

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
count,6.000000,6.000000,6.000000,6.00000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,2017.666667,122.183333,128.416667,134.25000,139.916667,145.533333,152.333333,160.933333,166.733333,170.783333,172.966667,167.100000,174.000000
std,2.160247,0.996828,0.577639,0.61563,0.778246,1.175868,0.806639,0.763326,0.818942,0.411906,0.273252,15.487543,0.282843
min,2015.000000,121.300000,128.000000,133.60000,139.100000,144.700000,151.800000,160.300000,165.700000,170.400000,172.700000,135.500000,173.700000
25%,2016.250000,121.625000,128.025000,133.90000,139.625000,145.100000,151.900000,160.400000,166.250000,170.525000,172.750000,172.825000,173.750000
50%,2017.500000,122.050000,128.200000,134.05000,139.750000,145.100000,151.950000,160.700000,166.550000,170.600000,172.900000,173.300000,174.000000
75%,2018.750000,122.100000,128.525000,134.50000,139.875000,145.250000,152.375000,161.150000,167.375000,171.050000,173.200000,173.700000,174.175000
max,2021.000000,124.100000,129.500000,135.30000,141.400000,147.900000,153.900000,162.300000,167.800000,171.400000,173.300000,174.000000,174.400000

ㅤ

ㅤ

ㅤ

ㅤ

통계 자료를 출력할 때, 가능한 자료형을 가지고 있는지 미리 확인해야 합니다.

예를 들어 문자형의 데이터를 가지고 있는 칼럼은 평균값을 출력시키지 못하고 에러가 뜨게 됩니다.
</br></br>

count나 mean 외 다른 통계 값도 똑같이 적용됩니다.

예시 : df.std(), df.min(), df.max() 등

In [ ]:
df.std()
df.min()
df.max()
df[['6세']].mean()

6세    122.183333
dtype: float64

* df.shape : 행과열의 개수
* len(df) : 행의 갯수
* len(df.columns) : 열의 개수

In [ ]:
df.shape
len(df)
len(df.columns)

13

ㅤ

## **7. Dataframe 데이터 정렬**

### **1) 데이터 값을 기준으로 정렬**

*   .sort_values() : 데이터 값을 기준으로 행과 열을 정렬하는 메소드입니다. 디폴트 값은 인덱스를 기준으로 오름차순 정렬됩니다. NaN(결측값)이 있다면 그 값은 맨 마지막에 위치합니다. 문자열은 ㄱㄴㄷ(한글), abc(영어) 순으로 정렬합니다.
</br></br>

*   변수명[‘특정 칼럼명’].sort_values() : 특정 칼럼명을 추출한 후 그 값을 정렬하는 방법입니다.
</br></br>

*   .sort_values() 파라미터

    by : 특정 칼럼을 기준으로 정렬
    
    ascending : 정렬의 방향 (True: 오름차순, False: 내림차순)

    axis : 정렬할 대상 축 (=0: 인덱스 기준, =1: 칼럼 기준)

In [ ]:
print(df['6세'].sort_values())

0    121.3
1    121.5
4    122.0
2    122.1
3    122.1
5    124.1
Name: 6세, dtype: float64

In [ ]:
print(df.sort_values(by=['6세']))

     시점     6세     7세     8세     9세    10세    11세    12세    13세    14세    15세  \
0  2015  121.3  128.0  133.6  139.6  144.7  151.8  160.3  165.7  170.5  172.7
1  2016  121.5  128.3  133.9  139.1  145.1  152.0  160.3  166.4  170.4  172.7
4  2019  122.0  128.6  134.6  139.9  145.1  151.9  160.7  167.8  170.6  173.3
2  2017  122.1  128.1  134.2  139.7  145.3  152.5  160.7  166.2  170.6  172.9
3  2018  122.1  128.0  133.9  139.8  145.1  151.9  161.3  166.7  171.2  172.9
5  2021  124.1  129.5  135.3  141.4  147.9  153.9  162.3  167.6  171.4  173.3

     16세    17세
0  172.7  173.7
1  135.5  174.1
4  173.8  174.4
2  173.2  173.9
3  173.4  174.2
5  174.0  173.7

ㅤ

ㅤ

ㅤ

### **2) 인덱스 값을 기준으로 정렬**

*   .sort_index() : 인덱스 값을 기준으로 행과 열을 정렬합니다. 디폴트 값은 인덱스를 기준으로 오름차순 정렬됩니다.
</br>

*   .sort_index()의 파라미터

    ascending : 정렬의 방향 (True: 오름차순, False: 내림차순)

In [ ]:
df.sort_index()

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7

In [ ]:
print(df.sort_index(ascending=False))

     시점     6세     7세     8세     9세    10세    11세    12세    13세    14세    15세  \
5  2021  124.1  129.5  135.3  141.4  147.9  153.9  162.3  167.6  171.4  173.3
4  2019  122.0  128.6  134.6  139.9  145.1  151.9  160.7  167.8  170.6  173.3
3  2018  122.1  128.0  133.9  139.8  145.1  151.9  161.3  166.7  171.2  172.9
2  2017  122.1  128.1  134.2  139.7  145.3  152.5  160.7  166.2  170.6  172.9
1  2016  121.5  128.3  133.9  139.1  145.1  152.0  160.3  166.4  170.4  172.7
0  2015  121.3  128.0  133.6  139.6  144.7  151.8  160.3  165.7  170.5  172.7

     16세    17세
5  174.0  173.7
4  173.8  174.4
3  173.4  174.2
2  173.2  173.9
1  135.5  174.1
0  172.7  173.7

ㅤ

오름차순으로 정렬된 첫번째 코드의 출력값에 반해 ascending=False을 넣은 두번째 코드의 출력값은 큰값에서 작은값으로 정렬되는 내림차순으로 출력되었습니다.

ㅤ

## **8. Dataframe 데이터 선택**

* 열 인덱싱 : 컬럼 값이 아닌 컬럼 이름으로
* 행 인덱싱 : 인덱스 이름으로
* 자료 1개 가져올 때는 열인덱싱 -> 행인덱싱 방식
* 불리안 인덱싱 : 조건을 찾을 컬럼 이름으로 조건식 만들어서
~~~
df [ '칼럼이름' ] 하나의 열만 인덱싱
df [ [ '칼럼이름' ] ] 하나의 열만 인덱싱 하는데 데이터프레임모양으로 출력
df [ [ '칼럼이름1', '칼럼이름2' ] ] 여러개의 열은 리스트로 인덱싱
~~~

In [ ]:
df[['6세','8세']]

      6세     8세
0  121.3  133.6
1  121.5  133.9
2  122.1  134.2
3  122.1  133.9
4  122.0  134.6
5  124.1  135.3

*   슬라이싱 이용 : df[컬럼명], df[시작인덱스:끝인덱스+1], df[시작인덱스명:끝인덱스명]

*   .loc[행, 열] : 라벨의 이름을 이용하여 데이터 선택 (명칭 기반)

*   .iloc[인덱스 번호] : 위치를 나타내는 인덱스 번호 이용하여 데이터 선택 (위치 기반)
</br></br>


> 추가적으로 ix는 최근에 사라졌으니 참고 부탁드립니다.

ㅤ

* 행인덱싱은 항상 슬라이싱 형식으로 가져오기 ex) df[1:3]
* 단일행을 가져오려면 슬라이싱 형태로 만들어서 가져오기 ex) df[3:4]
* 문자라벨로 인덱싱할때는 끝라벨 포함 ex) df['a':'c']
* 부분배열 불가능 ex)df[1,3,5] <-오류

In [ ]:
df[::]

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7

In [ ]:
df.loc[3, '16세']

173.4

In [ ]:
df.iloc[3, 10]

172.9

In [ ]:
df['16세'] < 173

0     True
1     True
2    False
3    False
4    False
5    False
Name: 16세, dtype: bool

In [ ]:
df[(df['16세'] > 170) & (df['16세'] < 173)]

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7

ㅤ

ㅤ

ㅤ

ㅤ

## **9. Dataframe 데이터 생성**

*   데이터프레임[칼럼명] = 값 : 새로운 칼럼에 값을 생성
*  이미 있는 컬럼이면 값으로 수정되고, 없으면 생성

기존에 있던 데이터프레임을 새로운 변수 df1로 새로 생성합니다.

df1에 0의 데이터 값을 가진 18세 칼럼을 생성합니다.

In [ ]:
df_new = df.copy()
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7

In [ ]:
df_new['18세'] = 1

df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7,1
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,1
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,1
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,1
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,1
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,1

In [ ]:
df_new['18세'] = [173.8, 174, 174.2, 174.8, 175, 175.5]
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7,173.8
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,174.0
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,174.2
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,174.8
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,175.0
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,175.5

In [ ]:
df_new['18세'] = df_new['18세']+0.2
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7,174.0
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,174.2
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,174.4
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,175.0
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,175.2
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,175.7

In [ ]:
df_new.loc['6'] = [2022, 124.2, 129.8, 135.6, 141.7, 148, 154, 162.4, 168, 171.9, 174, 174.3, 173.9, 176]
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
0,2015.0,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7,174.0
1,2016.0,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,174.2
2,2017.0,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,174.4
3,2018.0,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,175.0
4,2019.0,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,175.2
5,2021.0,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,175.7
6,2022.0,124.2,129.8,135.6,141.7,148.0,154.0,162.4,168.0,171.9,174.0,174.3,173.9,176.0

In [ ]:
df_new['시점'].dtype

dtype('float64')

In [ ]:
df_new['시점'] = df_new['시점'].astype('int')
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7,174.0
1,2016,121.5,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,174.2
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,174.4
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,175.0
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,175.2
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,175.7
6,2022,124.2,129.8,135.6,141.7,148.0,154.0,162.4,168.0,171.9,174.0,174.3,173.9,176.0

In [ ]:
df_new['시점'].dtype

dtype('float64')

ㅤ

## **10. Dataframe 데이터 변경**

### **1) 위치 변경**

*  .at[행, 열] = 값 : 라벨의 이름을 이용하여 원하는 위치의 값을 변경할 수 있습니다.

*  .iat[인덱스번호] = 값 : 인덱스 번호를 이용한 위치의 값을 변경할 수 있습니다.

In [ ]:
df_new.at[1, '6세'] = 121.7
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7,174.0
1,2016,121.7,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,174.2
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,174.4
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,175.0
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,175.2
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,175.7
6,2022,124.2,129.8,135.6,141.7,148.0,154.0,162.4,168.0,171.9,174.0,174.3,173.9,176.0

ㅤ

ㅤ

ㅤ

### **2) 행과 열 교환하기**




*   .T : ‘Transpose index and columns’의 약자로, index 와 column 을 전치시킵니다.

In [ ]:
df_t = df_new.T
df_t

          0       1       2       3       4       5       6
시점   2015.0  2016.0  2017.0  2018.0  2019.0  2021.0  2022.0
6세    121.3   121.7   122.1   122.1   122.0   124.1   124.2
7세    128.0   128.3   128.1   128.0   128.6   129.5   129.8
8세    133.6   133.9   134.2   133.9   134.6   135.3   135.6
9세    139.6   139.1   139.7   139.8   139.9   141.4   141.7
10세   144.7   145.1   145.3   145.1   145.1   147.9   148.0
11세   151.8   152.0   152.5   151.9   151.9   153.9   154.0
12세   160.3   160.3   160.7   161.3   160.7   162.3   162.4
13세   165.7   166.4   166.2   166.7   167.8   167.6   168.0
14세   170.5   170.4   170.6   171.2   170.6   171.4   171.9
15세   172.7   172.7   172.9   172.9   173.3   173.3   174.0
16세   172.7   135.5   173.2   173.4   173.8   174.0   174.3
17세   173.7   174.1   173.9   174.2   174.4   173.7   173.9
18세   174.0   174.2   174.4   175.0   175.2   175.7   176.0

행과 열의 위치가 바뀐 것을 확인할 수 있습니다.

ㅤ

## **11. Dataframe 데이터 결합**

### **1) concat**

*   concat은 concatenation의 약자로 연결을 의미합니다. 즉, 두 개 이상의 데이터프라임 결합할 때 사용하는 메소드입니다. (속성형태가 같은 데이터프레임 합칠 때)

*   pd.concat([데이터프라임], [데이터프라임])

*   axis: 어떻게 결합할 건지 결정하는 파라미터입니다.

  - 0: 열 (디폴트), 1: 행

In [ ]:
# concat
df11 = pd.DataFrame([1,2,3,4,5])
df22 = pd.DataFrame([6,7,8,9,10])
#print(pd.concat([df11, df22]))   # 열로 합치기

print(pd.concat([df11, df22], axis = 1))  # 행으로 합치기

ㅤ

concat은 칼럼과 인덱스를 기준으로 병합하는데 공통된 칼럼이나 인덱스가 없어 NaN을 포함하여 결합하게 됩니다.

In [ ]:
df11 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [1,2,3])
df22 = pd.DataFrame({'C' : ['c', 'c', 'c'], 'D' : ['d', 'd', 'd']}, index = [4,5,6])
print(pd.concat([df11, df22]))

ㅤ

In [ ]:
df22 = pd.DataFrame({'C' : ['c', 'c', 'c'], 'D' : ['d', 'd', 'd']}, index = [1,2,3])
print(pd.concat([df11, df22], axis = 1))

공통된 인덱스가 존재하여 아까와는 다르게 NaN 값이 포함하지 않고 결합할 수 있습니다.

ㅤ

In [ ]:
df11 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [1,2,3])
df22 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [4,5,6])
print(pd.concat([df11, df22]))

반대로 공통된 칼럼이 존재하고 열으로 병합하게 되면 NaN 값을 발생하지 않고 합쳐지게 됩니다.

ㅤ

### **2) append**

*   concat과 달리 행으로 결합이 가능합니다. (열로 결합 불가능)

*   데이터프레임1.append(데이터프레임2)

In [ ]:
# append 이용
df11 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [1,2,3])
df22 = pd.DataFrame({'C' : ['c', 'c', 'c'], 'D' : ['d', 'd', 'd']}, index = [4,5,6])
print(df11.append(df22))

ㅤ



---

## **12. Dataframe 데이터 복사와 삭제**

### **1) 데이터 프레임 복제**
df_original = df.copy()

### **2) 행이나 열 삭제**
- DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
  - label 열이나 행
  - axis: 0 행, 1 열, 디폴트 0

*  행 여러개 삭제하기
-- 데이터프레임.drop(index = 삭제할 인덱스 리스트, inplace = True)
-- inplace의 기본값은 False, True로 바꿔주면 바로 삭제하겠다 라는 뜻

In [ ]:
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
0,2015,121.3,128.0,133.6,139.6,144.7,151.8,160.3,165.7,170.5,172.7,172.7,173.7,174.0
1,2016,121.7,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,174.2
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,174.4
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,175.0
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,175.2
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,175.7
6,2022,124.2,129.8,135.6,141.7,148.0,154.0,162.4,168.0,171.9,174.0,174.3,173.9,176.0

In [ ]:
df_new.drop(0, inplace=True)

In [ ]:
df_new

,시점,6세,7세,8세,9세,10세,11세,12세,13세,14세,15세,16세,17세,18세
1,2016,121.7,128.3,133.9,139.1,145.1,152.0,160.3,166.4,170.4,172.7,135.5,174.1,174.2
2,2017,122.1,128.1,134.2,139.7,145.3,152.5,160.7,166.2,170.6,172.9,173.2,173.9,174.4
3,2018,122.1,128.0,133.9,139.8,145.1,151.9,161.3,166.7,171.2,172.9,173.4,174.2,175.0
4,2019,122.0,128.6,134.6,139.9,145.1,151.9,160.7,167.8,170.6,173.3,173.8,174.4,175.2
5,2021,124.1,129.5,135.3,141.4,147.9,153.9,162.3,167.6,171.4,173.3,174.0,173.7,175.7
6,2022,124.2,129.8,135.6,141.7,148.0,154.0,162.4,168.0,171.9,174.0,174.3,173.9,176.0

## **13. Dataframe 함수**

min(), max(), median(), mean(), std(), var(), sum()


* 하나의 행의 모든값들을 더하기
df.sum()

* 하나의 열의 모든값들을 더하기
df.sum(axis=1)

* 한가지 열의 합계만 출력하기
df["열의 이름"].sum()

* 한가지 행의 합계만 출력하기
df.loc["행의 이름"].sum()

* df.isnull()은 null값이 몇개 있는지

* df.isnull().sum()을 하면 열별로 null값이 몇개 있는

여러가지 칼럼을 통계함수로 묶어보기
* df.groupby(['나이', '전투력']).mean()
* 여러개의 칼럼을 적어줄때는 [ ] 리스트안에 ,(쉼표)로 구분